@use "sass:color";
@use "variables" as *;

.feature-box {
  background: $primary;
  color: #fff;
  padding: 1.5rem 2rem;
  border-radius: $border-radius;
  font-family: $font-family-base;
  color: white;
  padding: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  margin-bottom: 1.5rem;
}
